/* color pallette:
#FF5F00
#B20600
#00092C
#EEEEEE
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#00092c, #ff5f00);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ------------------------
            Nav:
-------------------------*/

nav {
  width: 70%;
  height: 12vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

nav #logo {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

nav #logo h3 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
}

#nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#nav-tabs ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-li {
  list-style-type: none;
  margin-left: 1.5rem;
}

nav .nav-anchors {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: color 350ms ease-in-out;
}

.nav-anchors:hover {
  cursor: pointer;
  color: #ff5f00;
}

/* ------------------------
            Main:
-------------------------*/

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  color: #eeeeee;
}

#main-media {
  width: 30vw;
  position: relative;
  transition: transform 350ms ease-out;
  margin-top: 2.5rem;
}

#main-media-img {
  width: 30vw;
  height: 75vh;
  /* border-radius: 65%; */
  cursor: pointer;
  /* overflow: hidden; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#main-media-img .profile-img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  transition: transform 350ms ease-out;
}

#main-media-tabs {
  width: 25vw;
}

#main-media-tabs .tab {
  width: 16vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 0 0.5rem;
  color: #00092c;
}

.tab span {
  font-weight: bold;
}

#main-media-tabs .media-tab1 {
  transform: translateX(-300%);
  transition: transform 350ms ease-in;
  position: absolute;
  top: 320px;
  left: -160px;
  background: rgba(255, 255, 255, 0.8);
}

#main-media-tabs .media-tab2 {
  transform: translateX(-400%);
  transition: transform 350ms ease-in;
  position: absolute;
  top: 470px;
  right: 50px;
  background: rgba(255, 255, 255, 0.8);
}

#main-media-tabs .media-tab3 {
  transform: translateX(-300%);
  transition: transform 350ms ease-in;
  position: absolute;
  top: 120px;
  left: -100px;
}

/* media-tabs when HOVER */
#main-media:hover {
  transform: scale(1.1);
}
#main-media:hover .media-tab1 {
  transform: translateX(0%);
}

#main-media:hover .media-tab2 {
  transform: translateX(0%);
}

#main-media:hover .media-tab3 {
  transform: translateX(0%);
}

.tab-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.tab-title h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
}

.tab-title ion-icon {
  font-size: 2rem;
  align-self: center;
  margin: 0;
}

.tab p {
  font-size: 0.85rem;
}

#main-text {
  height: 100%;
  margin-top: 3.5rem;
  width: 40vw;
  padding-left: 2rem;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  /* margin-bottom: 0; */
}

#main-text-intro {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1.5rem;
}

#main-text-intro h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin: 0;
}

#main-text-technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 40vw; */
  /* margin-top: 0.5rem; */
}

#main-text-technologies h2 {
  /* margin-bottom: 1rem; */
  font-size: 2rem;
  margin: 1.5rem 0;
}

.technologies {
  /* width: 40vw; */
  /* height: 36vh; */
  /* background: rgba(255, 255, 255, 0.3);
  border-radius: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.75rem; */
}

.technologies-front-end,
.technologies-back-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 20vw;
  height: 20vh; */
  padding: 0.75rem;
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.technologies-front-end {
  margin-right: 0.75rem;
}

/* .technologies-front-end p,
.technologies-back-end p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;

  color: #00092c;
  background: red;
  display: block;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
} */

.btn {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: transform 350ms ease-out;
  color: #eeeeee;
  background: rgba(178, 6, 0, 0.8);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.63);
}

.back-end-btn {
  background: rgba(0, 9, 44, 0.8);
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.technologies-image {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

/*
.technologies p span {
  color: #00092c;
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.technologies-front-end,
.technologies-back-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.technologies-front-end {
  margin-bottom: 1rem;
}

.technologies-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.technologies-images img {
  width: 60%;
  height: 90%;
  object-fit: contain;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.technologies-front-end p,
.technologies-back-end p {
  font-size: 1rem;
  font-weight: bolder;
} */
