/* color pallette:
#FF5F00
#B20600
#00092C
#EEEEEE
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#00092c, #ff5f00);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ------------------------
            Nav:
-------------------------*/

nav {
  width: 60vw;
  height: 10vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #logo {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

nav #logo h3 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
}

#nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#nav-tabs ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-tabs ul li {
  list-style-type: none;
  margin-left: 1rem;
  /* transform: scale(1);
  transition: transform 350ms ease-out; */
}

/* nav .nav-li:hover {
  transform: scale(1.1);
} */

nav .nav-anchors {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);

  /* transform: scale(1); */
}

/* ------------------------
            Main:
-------------------------*/

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
  height: 100%;
  color: #eeeeee;
}

#main-media {
  width: 30vw;
  position: relative;
  transition: transform 350ms ease-out;
  margin-top: 2.5rem;
}

#main-media-img {
  width: 30vw;
  height: 75vh;
  /* border-radius: 65%; */
  cursor: pointer;
  /* overflow: hidden; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#main-media-img .profile-img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  transition: transform 350ms ease-out;
}

#main-media-tabs {
  width: 25vw;
}

#main-media-tabs .tab {
  width: 16vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 0 0.5rem;
  color: #00092c;
}

.tab span {
  font-weight: bold;
}

#main-media-tabs .media-tab1 {
  transform: translateX(-300%);
  transition: transform 350ms ease-in;
  position: absolute;
  top: 400px;
  left: -200px;
  background: rgba(255, 255, 255, 0.8);
}

#main-media-tabs .media-tab2 {
  transform: translateX(-400%);
  transition: transform 350ms ease-in;
  position: absolute;
  top: 470px;
  right: 50px;
  background: rgba(255, 255, 255, 0.8);
}

#main-media-tabs .media-tab3 {
  transform: translateX(-300%);
  transition: transform 350ms ease-in;
  position: absolute;
  top: 190px;
  left: -130px;
}

/* media-tabs when HOVER */
#main-media:hover {
  transform: scale(1.1);
}
#main-media:hover .media-tab1 {
  transform: translateX(0%);
}

#main-media:hover .media-tab2 {
  transform: translateX(0%);
}

#main-media:hover .media-tab3 {
  transform: translateX(0%);
}

.tab-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.tab-title h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
}

.tab-title ion-icon {
  font-size: 2rem;
  align-self: center;
  margin: 0;
}

.tab p {
  font-size: 0.85rem;
}

#main-text {
  margin-top: 2.5rem;
  width: 30vw;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#main-text-intro {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1em;
}

#main-text-intro h1 {
  margin: 0;
}

#main-text-technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#main-text-technologies h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* justify-content: flex-start;
  align-items: flex-start; */
  width: 30vw;
  margin: 0;
}

.technologies p span {
  color: #00092c;
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.technologies-front-end,
.technologies-back-end {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 21vh;
  margin-top: 2rem;
}
.technologies-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.technologies-front-end img,
.technologies-back-end img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.technologies-front-end p,
.technologies-back-end p {
  font-size: 1rem;
  font-weight: bolder;
}

/* HOVER effect */
/* nav: */
/* #logo:hover ion-icon {
  color: rgba(255, 255, 255, 0.8);
} */

/* #logo ion-icon:hover {
  color: rgba(255, 255, 255, 0.8);
} */

.nav-anchors:hover {
  cursor: pointer;
  color: #ff5f00;
  transform: scale(1.05);
}
